/*$gray: #BFBAA8;*/
/*$blue: #00398E;*/
/*$white: #FFF;*/
/*$pink: #F2DCC2;*/
/*$tan: #A67F5D;*/
/*$brown: #594336;*/
/*$dark-grey: #333;*/


$dark-gray: #282828;
$light-gray: #DADADA;
$white: #F4F4F4;
$dark-blue: #101A3F;
$light-blue: #2F3A71;

$font-color: $dark-gray;

body {
	background-image: url(../media/background-fog.jpg);	
	background-size: cover;
	background-attachment: fixed;
	background-position: right bottom;
	background-repeat: no-repeat;

	a {
		color: $white;
		transition: all .2s ease-in-out;
	}

	a:hover {
		color: $light-gray;
	}

	.text {
		color: $font-color;	
	}

	.jumbotron {
		background-color: $dark-gray;
		.text{
			color: $white;
		}
		.img-container {
			margin: auto;
			margin-top: 2em;
		}
		.profile-img {
			width: 100%;
			height: auto;
			border: 2px solid $white;
		}
		.pitch {
			text-align: justify;
			padding-top: 1.5em;
			color: $white;	
		}
		.row {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;
		}
	}

	.well {
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		background-color: $white;	
		margin-bottom: 100vh;
	}

	.projects {
		border-top: none;
		color: $font-color;
		h2 {
			text-align: center;
		}

		h3 {
			text-align: center;
			margin-bottom: 1.5em;
		}
		.thumbnail {
			background-color: $white;
		}
	}


	.caption {
		a {
			color: $light-blue;	
		}
		a:hover {
			color: $dark-blue;	
		}
	}
	.row {
		display: flex;
		flex-wrap: wrap;	
	}

}

.icon {
	font-size: 250%;
	margin-right: 5px;
}
@media (width: 768px) {
	.icon {
		font-size: 150%;
	}
}

