/* Background pattern from subtlepatterns.com */
/* Content images from unspash.com */

// images
$darkwood: url("../media/background-darkwood.png");
$paper: url("../media/background-paper.png");
$redcup: url("../media/redcup.jpg");


body {
	font-family: 'Alegreya SC', serif;
	background-image: $darkwood;
	background-repeat: repeat;
	color: white;
}

a {
	color: white;
	&:hover {
		color: lightslategray;
	}
}


.jumbotron {
	background-image: $darkwood;
	background-repeat: repeat;
	text-align: center;
	margin-bottom: 0;
}

.well {
	background-image: $paper;
	background-repeat: repeat;
	min-height: 80vh;
	color: darkslategray;
}

.image-container {
	img {
		display: block;
		width: 100%;
		height: auto;
		margin: auto;
	  outline: 20px solid rgba(0,0,0,.4);
		outline-offset: -20px;
	}
}

.intro {
	font-size: 1.8em;
	padding: 0 2em;
	h1 {
		text-align: center;
	}
	p {
		font-family: 'Open Sans Condensed', sans-serif;
	}
}

.bottom {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.hours {
	text-align: center;
	font-size: 1.8em;
	ul {
		font-family: 'Open Sans Condensed', sans-serif;
	}
}

.contact {
	text-align: center;
	font-size: 1.8em;
	a {
		color: darkslategray;
		&:hover {
			color: lightslategray;
		}
	}
	ul {
		font-family: 'Open Sans Condensed', sans-serif;
	}
}

